.display-search{
    // padding-top: 160px;
    .result-keyword{
        padding-left: 32px;
        font-size: 28px;
        padding-bottom: 24px;
        span{
        font-weight: 800;
        }    
    }
}