$body-bg: #0f0f0f;
$main-color: #e20712;
$text-color: #fff;

$box-shadow: rbga(100, 100, 111, 0.2) 0px 7px 29px 0px;

$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Montserrat', sans-serif;